#fondo{
    background: black;
    margin-top: 10px;
}
#fondo1{
    background: rgba(0, 217, 255, 0.466);
}
h3{
    text-align: left;
    color:white;
    margin:20px;
}
h4{
    text-align: right;
    color:white;
    margin:20px;
}
#sep{
    margin-top:20px;
}
#color>h3{
    color:black;
}
#color{
    color:black;
    margin-bottom: 30px;
    margin-top: 30px;
}
body{
    background: rgba(59, 67, 139, 0.459);
}
#color>p{
    color:white;
}
#color>h3{
    color:white;
}